* {
    font-family: 'Montserrat';
    font-weight: 700;
    /* border: 1px solid black; */
}

body {
  width: 100vw;
}

.menu-bar {
  display: flex;
  position: absolute;
  right: 35px;
  top: 91px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  border-radius: 12px;
  visibility: hidden;
  transition: 0.1s;
  transform: rotateX(-75deg);
  z-index: 999999;
}

.menuBarStyle {
  visibility: visible;
  transform: rotateX(0deg);
  transform-origin: 0% 0%;
}

.menu-bar h4 {
  font-size: 18px;
  font-weight: bold;
}

.menu-bar p {
  font-size: 14px;
  color: #31353bad;
}

.menu-bar .btn {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.menu-bar img {
  width: 50%;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.overlayStyle {
  display: block !important;
}

.navbar-brand{
    width: 140px;
}

.wrap-search-luar {
  display: none;
}

.wrap-search {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
}

.navbar-nav{
    gap: 20px;
}

.line {
  font-size: 38px;
  color: #cdcdcd;
  margin-bottom: 0px;
  font-weight: 100;
}

.button {
    gap: 15px;
}

.navbar-nav .login{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav .login .btn {
    border-radius: 8px;
    font-size: 13px;
    background-color: #DC213E;
    align-self: center;
}

.navbar-nav .login .btn:first-child {
    background-color: #ffffff;
    border: 1px solid #DC213E;
    color: #DC213E;
    align-self: center;
}
  
.icon-wrapper {
    text-align: center;
  }
  
.icon-wrapper .bi {
    font-size: 1.1rem;
}
  
.icon-text {
    font-size: 0.8rem;
    display: block;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
  background-size: cover;
  background-position: center;
  margin: 20px 20px;
}

#hero-carousel {
    max-width: 1300px;
    margin: auto;
}

.carousel-inner {
    border-radius: 20px;
    overflow: hidden; 
}
  
.carousel-item {
    border-radius: 30px;
}

.c-item {
    max-height: 380px;
}
  
.c-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.prev-icon-wrapper,
.next-icon-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 5px 10px; 
}
  
.prev-icon-wrapper i,
.next-icon-wrapper i {
    color: #fff; 
    font-size: 24px; 
    cursor: pointer; 
}
  
.prev-icon-wrapper {
    left: 50px; 
}
  
.next-icon-wrapper {
    right: 50px;
}

#Kategori .col-6 {
  cursor: pointer;
}

#Kategori .col-6:active {
  transform: scale(0.99);
}

.card {
  border-radius: 90px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:active{
  transform: scale(0.99);
}

.card-body {
  padding: 10px;
}

#Promo .row {
  margin-bottom: 20px;
}

#Promo .col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

#Promo .card-img {
  cursor: pointer;
}

#Promo .card-img:active {
  transform: scale(0.99);
}


/* Offers */
#offers{
  position: relative;
  background: url(img/offer_img.png) center/cover no-repeat;
}

#offers .row{
  min-height: 60vh;
}

.offers-content {
  position: relative;
  z-index: 1;
}

.offers-content span{
  font-size: 40px;
  font-weight: 600;
}
.offers-content h2{
  font-size: 68px;
  font-weight: bold;
  font-family: var(--lg-font);
}
.offers-content p{
  font-size: 20px;
  font-weight: 400;
}
/* Akhir Offers */

:root {
  --total-brand: 10;
  --logo-width: 10rem;
  --total-logo-width: calc(var(--total-brand) * var(--logo-width) * 2);
  --animation-duration: calc(var(--total-brand) * 2s );
}

#Brand {
  display: grid;
  place-items: center;
}

#Brand img {
  filter: grayscale(100%);
}

.slider {
  position: relative;
  max-width: 100vw;
  height: 8rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider::before,
.slider::after{
  position: absolute;
  z-index: 1;
  content: "";
  height: 100%;
  width: var(--logo-width);
}

.slider::before {
  left: 0px;
  background: linear-gradient(to right, #fff 0%, #fff0 100%);
}
.slider::after {
  right: 0px;
  background: linear-gradient(to left, #fff 0%, #fff0 100%);
}

.slider ul.brands {
  gap: 40px;
  list-style: none;
  width: var(--total-logo-width);
  display: flex;
  animation: slideLeft var(--animation-duration) linear infinite;
}

.slider:hover ul.brands{
  animation-play-state: paused ;
}

@keyframes slideLeft {
  100% {
    transform: translateX(calc(-100% / 2));
  }
}

ul.brands li.brand-logo{
  width: var(--logo-width);
  font-size: 2rem;
  text-align: center;
  margin-left: 3rem;
}

@media screen and (max-width: 480px) {
  .navbar-brand{
    display: none;
  }

  .wrap-search-luar{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 82%;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  .wrap-search{
    display: none;
    margin: 20px auto;
  }

  .line {
    display: none;
  }

  .navbar-nav .login{
    margin-bottom: 20px;
  }

  .banner-container {
    max-height: 26vh;
    margin: 0px 0px;
  }

  .carousel-inner {
    border-radius: 0px;
  }

  .c-item {
    height: 200px;
  }

  #Kategori .col-6 {
    width: 180px;
  }

  #Kategori .col-6 h6 {
    font-size: 14px;
  }
  
  .card .card-body h6 {
    font-size: 12px;
  }

  .card .card-body .badge{
    font-size: 10px;
  }

  .card .card-body .rating {
    font-size: 10px;
  }

  #offers .row{
    min-height: 30vh;
  }
  .offers-content span{
    font-size: 25px;
    font-weight: 600;
  }
  .offers-content h2{
    font-size: 55px;
    font-weight: bold;
    font-family: var(--lg-font);
  }
  .offers-content p{
    font-size: 15px;
    font-weight: 400;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
  