body {
    font-family: poppins;
}

#Banner {
    padding-top: 50px; 
}

.icon-wrapper {
    text-align: center;
  }
  
  .icon-wrapper .bi {
    font-size: 1.3rem; /* Adjust size as needed */
  }
  
  .icon-text {
    font-size: 0.8rem; /* Adjust size as needed */
    display: block;
  }